<html>
  <head>
    <meta charset="utf-8">
    <title>Tamino Martinius - Full Stack Developer</title>
    <meta name="viewport" content="width=device-width, height=device-height, minimum-scale=1, maximum-scale=1, user-scalable=0"/>
    <style media="screen" v-html="styleContent"></style>
  </head>
  <body>
    <div class="container">
      <hero></hero>
      <!-- <navbar></navbar> -->
      <!-- <featured></featured> -->
      <!-- <code></code> -->
      <!-- <design></design> -->
      <!-- <skills></skills> -->
      <timeline></timeline>
      <!-- <cv></cv> -->
      <bottombar></bottombar>
    </div>
    <script type="text/javascript" v-html="imagesContent"></script>
    <!-- <script type="text/javascript" v-html="iconsContent"></script> -->
    <script type="text/javascript" v-html="vendorScriptContent"></script>
    <script type="text/javascript" v-html="scriptContent"></script>
  </body>
</html>
