<ul class="timeline">
  <li class="toggle">
    <div class="divider"></div>
  </li>
  <li v-for="entry of timeline" class="toggle">
    <div class="left">
      <div>
        <span class="company">
          {{entry.company || entry.university}}
        </span>
      </div>
      <div class="duration show-only-full">
        <template v-if="!entry.endsAt">
          since {{entry.startsAt}}
        </template>
        <template v-if="entry.endsAt">
          {{entry.startsAt}} - {{entry.endsAt}}
        </template>
      </div>
      <div class="remote" v-if="entry.remote">
        worked remotely
      </div>
    </div>
    <div class="divider"></div>
    <div class="right">
      <div>
        <ul class="position show-only-collapsed">
          <li>
            {{(entry.position || entry.graduiation)[0]}}
          </li>
        </ul>
        <ul class="position show-only-full">
          <li v-for="how of entry.position || entry.graduiation">{{how}}</li>
        </ul>
      </div>
      <div class="skills show-only-full">
        <ul>
          <li v-for="(skill, key) in entry.skills">{{key}}</li>
        </ul>
      </div>
    </div>
  </li>
</ul>
