<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

  <link rel="apple-touch-icon" sizes="180x180" href="<%= htmlWebpackPlugin.options.path %>/apple-touch-icon.png">
  <meta name="apple-mobile-web-app-title" content="<%= htmlWebpackPlugin.options.title %>">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="#292a38">

  <link rel="icon" type="image/png" href="<%= htmlWebpackPlugin.options.path %>/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="<%= htmlWebpackPlugin.options.path %>/favicon-16x16.png" sizes="16x16">

  <link rel="manifest" href="<%= htmlWebpackPlugin.options.path %>/manifest.json">
  <meta name="theme-color" content="#181743">
  <meta name="application-name" content="<%= htmlWebpackPlugin.options.title %>">
  <meta name="msapplication-config" content="<%= htmlWebpackPlugin.options.path %>/browserconfig.xml">

  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">
  <meta name="keywords" content="<%= htmlWebpackPlugin.options.title %>">

  <style>
    .loader {
      color: #819496;
      font-size: 0;
    }

    .loader span {
      font-size: 1.5vw;
    }

    .loader .path {
      background-color: #2E8CCF;
      color: #000;
    }

    .loader .branch {
      background-color: #85981C;
      color: #000;
    }

    .loader.hidden {
    }
  </style>

  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro"
  rel="stylesheet">
<body>
  <noscript>
    Please enable JavaScript to see this page!
  </noscript>
  <div class="loader hidden">
    <div class="line">
      <span>
        Last login: Fri Feb 9 11:10:11 on ttys007
      </span>
    </div>
    <div class="line">
      <span class="path">/dev/internet/taminomartinius</span>
      <span class="branch"> master</span>
      <span class="command">cat</span>
      <span class="args">index.html</span>
    </div>
  </div>
  <script type="text/javascript">
    document.querySelector('.loader').classList.remove('hidden');
  </script>
</body>
</html>
