// variables

$background-color = #fff
$primary-color = #ccc

$timeline-color = $primary-color

// reset

html
  font-family -apple-system, BlinkMacSystemFont, Geneva, Verdana, sans-serif
  font-weight 200
  font-size 20px
  @media(max-width 768px)
    font-size 18px
  @media(max-width 375px)
    font-size 16px
  @media(max-width 320px)
    font-size 14px

html, body, h1, h2, h3, h4, h5, h6, ul, li
  margin 0
  padding 0

h1, h2, h3, h4, h5, h6
  font-weight 200

a
  text-decoration none

li
  list-style none

// defaults

h1
  font-size 2rem

h4
  font-size 1.7rem

body
html
.container
  background $background-color
  height 100%

.meta
  display none


// mixins

clearfix()
  zoom 1
  &:after
  &:before
    content ""
    display table
  &:after
    clear both

center()
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)


// hero

.hero
  min-height 12rem
  max-height 24rem
  height 50vh
  position relative
  text-align center
  .content
    position absolute
    top 50%
    width 100%
    transform translateY(-50%)
  .avatar
    margin-top 2rem
    width 5rem
    height 5rem

  h1
    margin-top 0.2rem
    margin-bottom 0.5rem
  #subtitle
    display inline-block
    position relative
    &.cursor:after
      content '_'
      position absolute
      top 0
      margin-left 0.5rem
    .subtitle
      display none


// timeline

.timeline
  .right
  .left
    width 50%
    float left
    margin-bottom 2rem
    > div
      padding 0 2rem
  .left
    text-align right
  .duration
  .skills
    font-size 0.7rem
    font-weight 500
    opacity 0.7
  .position
  .skills
    display inline
    li
      display inline
      &:after
        display inline
        content ', '
      &:last-child:after
        content ''
  .remote
    font-size 0.7rem
    opacity 0.7
  .divider
    position absolute
    left 50%
    height 105%
    border-right 1px solid $timeline-color
    &:before
    &:after
      position absolute
      content ''
      display block
    &:before
      background $timeline-color
      height 1px
      width 3rem
      left 50%
      margin-left -1.5rem
      top 0.5rem
    &:after
      background $background-color
      border 2px solid $timeline-color
      height 5px
      width 5px
      border-radius 50%
      top 0.5rem
      left 50%
      margin-left -4px
      margin-top -4px

  label:hover .timeline-divider:after
    background $timeline-color

  .show-only-full
    display none
  .toggle
    clearfix()
    cursor pointer
    position relative
    &:hover .divider:after
      background $timeline-color
    &.toggled
      .show-only-full
        display inherit
      .show-only-collapsed
        display none
    &:first-child
    &:last-child
      .divider
        border-right-style dotted
    &:first-child
      height 2rem
      .divider
        &:before
        &:after
          display none


// bottombar

.bottombar
  text-align center
  margin-top 2rem
  margin-bottom 1rem
  ul
  li
    display inline
    padding 0 1rem
  a
    color $primary-color
    &:hover
      color #000
    &:focus
    &:active
      color $primary-color
  .impress-text
    margin-top 1rem
    margin-bottom -1rem
    font-size 0.8rem
    display none
  .toggled .impress-text
    display block
